<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form>
        <h1 id="title">LOGIN!!</h1>
        <input type="email" placeholder="Twoj email">        <input type="haslo" placeholder="Twoje haslo">
        <button type="submit">LOG IN</button>

    </form>
</body>
</html>
 